ansew* {
	padding:0px;
	margin:0px;
	border:0px;
	text-decoration:none;

	font-size:100%;
}

@font-face {
	font-family:SSTM;
	src:url("./font/SSTM.eot");
	src:local(※),
		url("./font/SSTM.woff") format("woff");
}

img {
	position:absolute;
	bottom:400px;
	left:0px;

	display:block;
	visibility:hidden;
}

img.top{
		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		filter: FlipH;
		-ms-filter: "FlipH";
}

/* 색깔놀이 */
span.red {
	color:red;
}
span.orange {
	color:orange;
}
span.yellow {
	color:yellow;
}
span.green {
	color:#00FF00;
}

body {
	margin:0px;
}

#wrapper {
	overflow:hidden;
	position:relative;
	z-index:0;
	width:700px;
	height:565px;

	background-color:black;
	border:1px black solid;
}

	#main {
		position:relative;
		z-index:10;
		width:700px;
		height:525px;

		background-color:black;
	}

		#cover {
			position:absolute;
			z-index:50;
			width:702px;
			height:525px;

			background-image:url('./images/guide0.png');
		}
				#cover:hover {
					cursor:default;
				}

		#changeBack {
			position:absolute;
			z-index:10;
			top:0px;
			left:100%;
			width:702px;
			height:525px;

			border-left:1px black solid;

			visibility:hidden;
		}
			#start {
				position:absolute;
				top:253px;
				left:230px;
				z-index:80;
				padding-top:20px;
				width:240px;
				height:50px;

				background-image:url('./images/clickable.png');
				background-color:rgba(255,255,255,0.5);
				-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF,endColorstr=#7FFFFFFF);
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF,endColorstr=#7FFFFFFF);
				zoom: 1;

				border:2px black solid;

				font-family:SSTM;
				font-size:30px;
				text-align:center;
			}
				#start:hover {
					background-color:rgba(255,255,255,1);
					-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF,endColorstr=#FFFFFFFF);
					filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF,endColorstr=#FFFFFFFF);
					zoom: 1;

					cursor:pointer;
					cursor:hand;
				}
			#return {
				position:absolute;
				top:528px;
				left:15px;
				z-index:0;
				width:40px;
				height:34px;

				background-image:url('./images/return.png');
				background-color:#FFA600;

				font-size:30px;
				font-weight:bold;
				text-align:center;
			}
				#return:hover {
					background-color:#FFff00;
					cursor:pointer;
					cursor:hand;
				}
			#auto {
				position:absolute;
				padding-top:7px;
				padding-left:8px;
				top:528px;
				left:75px;
				width:160px;
				height:25px;

				background-color:#242424;
				border:1px gray solid;

				color:white;
				font-family:SSTM;
				font-size:20px;
				font-weight:bold;
				text-align:left;
			}
				#auto:hover {
						cursor:default;
				}
			#play {
				position:absolute;
				padding-top:7px;
				padding-left:7px;
				top:528px;
				left:247px;
				z-index:0;
				width:25px;
				height:25px;

				background-image:url('./images/clickable.png');
				background-color:rgba(255,255,255,0.5);
				-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF,endColorstr=#7FFFFFFF);
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF,endColorstr=#7FFFFFFF);
				zoom: 1;
				border:1px gray solid;

				font-family:SSTM;
				font-size:20px;
				font-weight:bold;
				text-align:left;

				display:block;
			}
				#play:hover {
					background-color:rgba(255,255,255,1);
					-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF,endColorstr=#FFFFFFFF);
					filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF,endColorstr=#FFFFFFFF);
					zoom: 1;

					cursor:pointer;
					cursor:hand;
				}
			#toBefore {
				position:absolute;
				padding-top:5px;
				padding-left:12px;
				top:528px;
				left:310px;
				z-index:0;
				width:55px;
				height:27px;

				background-image:url('./images/clickable.png');
				background-color:rgba(255,255,255,0.5);
				-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF,endColorstr=#7FFFFFFF);
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF,endColorstr=#7FFFFFFF);
				zoom: 1;
				border:1px gray solid;

				font-family:SSTM;
				font-size:25px;
				font-weight:bold;
				text-align:left;

				display:block;
			}
				#toBefore:hover {
					background-color:rgba(255,255,255,1);
					-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF,endColorstr=#FFFFFFFF);
					filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF,endColorstr=#FFFFFFFF);
					zoom: 1;
					cursor:pointer;
					cursor:hand;
				}
			#title {
				position:absolute;
				padding-top:7px;
				padding-right:7px;
				top:528px;
				left:400px;
				width:200px;
				height:25px;

				background-color:#242424;
				border:1px gray solid;

				color:white;
				font-family:SSTM;
				font-size:20px;
				font-weight:bold;
				text-align:right;
			}
				#title:hover {
						cursor:default;
				}
			#now {
				position:absolute;
				padding-top:5px;
				top:528px;
				left:612px;
				width:83px;
				height:27px;

				background-color:#242424;
				border:1px gray solid;

				color:white;
				font-family:arial;
				font-size:20px;
				font-weight:bold;
				text-align:center;
			}
				#now:hover {
						cursor:default;
				}

			.choose {
				position:absolute;
				z-index:60;
				margin:3px 3px 3px 2px;
				padding-left:30px;
				width:360px;
				height:25px;

				background-image:url('./images/radio0.png');
				background-repeat:no-repeat;

				font-family:SSTM;
				color:#E1C9A7;
				font-size:25px;

				visibility:hidden;
			}
				.choose:hover {
					margin:1px 1px 1px 0px;
					cursor:pointer;
					cursor:hand;

				background-image:url('./images/radio1.png');

					border:2px lightblue solid;
				}
				.choose:active {
				background-image:url('./images/radio2.png');
				}
				#choose1 {
					top:425px;
					left:208px;
				}
				#choose2 {
					top:456px;
					left:208px;
				}
				#choose3 {
					top:487px;
					left:208px;
				}
				#choose4 {
					top:518px;
					left:208px;
				}

			#popup {
				position:absolute;
				z-index:100;
				padding:2px;
				top:0px;
				left:0px;
				height:14px;

				background-color:yellow;
				border:1px;

				font-family:Arial;
				font-size:12px;

				visibility:hidden;
			}

		#sprite {
			position:absolute;
			z-index:5;
		}

		#top {
			position:relative;
			z-index:15;
			margin-top:57px;
			width:618px;
			height:165px;
			float:right;

			background-image:url('./images/dialog_frame.png');

			visibility:hidden;
		}
			#topPic {
				position:relative;
				z-index:20;
				margin-right:10px;
				width:186px;
				height:157px;
				float:right;
			}
			#topName {
				margin:15px 5px 5px 10px;
				padding-bottom:0px;
				z-index:20;
				width:400px;
				height:22px;
				float:right;

				border-bottom:1px #E1C9A7 solid;

				font-family:SSTM;
				color:#E1C9A7;
				font-size:17px;
			}
			#topText {
				margin-right:5px;
				z-index:20;
				width:401px;
				height:112px;
				float:clear;float:right;

				font-family:SSTM;
				color:#E1C9A7;
				font-size:17px;
				line-height:120%;
			}

		#center {
			position:relative;
			width:100%;
			height:138px;
			float:clear;
			float:left;
		}


		#bottom {
			position:relative;
			z-index:15;
			width:618px;
			height:165px;
			float:clear;float:left;

			background-image:url('./images/dialog_frame.png');

			visibility:hidden;
		}
			#bottomPic {
				position:relative;
				margin-left:10px;
				z-index:20;
				width:186px;
				height:157px;
				float:left;
			}
				img.top {
					position:absolute;
					z-index:20;
				}
				img.bottom {
					position:absolute;
					z-index:20;
				}
			#bottomName {
				margin:15px 15px 5px 0px;
				padding-bottom:0px;
				z-index:20;
				width:395px;
				height:22px;
				float:right;

				border-bottom:1px #E1C9A7 solid;

				font-family:SSTM;
				color:#E1C9A7;
				font-size:17px;
			}
			#bottomText {
				margin-left:10px;
				z-index:20;
				width:397px;
				height:112px;
				float:clear;float:left;

				font-family:SSTM;
				color:#E1C9A7;
				font-size:17px;
				line-height:120%;
			}

		#toNext {
			position:absolute;
			padding-top:5px;
			padding-left:24px;
			z-index:20;
			top:0px;
			bottom:0px;
			width:140px;
			height:26px;

			display:block;
			visibility:hidden;
		}


	#footer {
		width:700px;
		height:40px;

		background-image:url('./images/bar2.jpg');;
	}

	#imagePreloader {
		width:1px;
		height:1px;

		display:none;
	}
